/* Footer Layout - MOBILE FIRST */
.footer {
  grid-area: foot;
  width: 100%;
  height: 60px;
  /* background-color: var(--color-background); */
  background: linear-gradient(135deg,
      var(--color-primary),
      var(--color-secondary));
  color: var(--color-text-primary);
  padding: 0.5rem 0;
  border-top: 1px solid var(--color-border);
  transition: background-color 0.2s ease, color 0.2s ease,
    border-color 0.2s ease;
}

:root.dark .footer {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.footer .footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10px;
}


/* Copyright Text */
.footer .footer-content p {
  font-size: 0.8rem;
  line-height: 1.5;
  flex: 1;
  text-align: center;
}
